.header {
  background-image: url("../image/background.jpg");
  background-size: cover;

  &-mobile {
    text-align: right;
    font-size: 20px;
    font-weight: bold;

    i {
      vertical-align: middle;
      font-size: 30px;
    }

    a {
      margin-left: 10px;
      font-weight: normal;
    }
  }

  &-top {
    background: $gray;
    padding: 10px 0;
    box-shadow: 0px 10px 20px 0px rgba(43,43,43,1);
  }
}

.header-background {
  text-align: center;
  padding: 50px 0;

  &__h1 {
    color: $gray;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0px 3px 3px rgba(5, 5, 5, 0.8);

    &_lowercase {
      display: block;
      text-transform: none;
      font-weight: normal;
    }
  }

  &__order {
    margin-top: 30px;
    padding: 3px 15px;
    color: $gray;
    background: $green;
    letter-spacing: 2px;
    border: 3px solid $gray;
    border-radius: 13px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(43,43,43,1);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $green;
      background: $gray;
    }
  }
}

.navigation {
  background: $dark_gray;
  box-shadow: 0px -1px 20px 0px rgba(43,43,43,1);
  width: 100%;

  &-hamburger {
    color: $gray;
    font-size: 34px;
    text-align: right;
    cursor: pointer;
  }

  &-fixed {
      position: fixed;
      top: 0;
      z-index: 10;
  }

  &-container {
    font-size: 0;

    @media screen and(max-width: 560px){
      display: none;
    }

    &-item {
      display: inline-block;
      padding: 10px 80px;
      margin: 0;
      font-size: 16px;
      background: none;
      color: $gray;
      transition: 0.2s;

      @media screen and(max-width: 560px){
        display: block;
        padding: 10px;
      }

      &:hover {
        background: $green;
      }
    }
  }
}

.active {
  background: $green;
  font-weight: bold;
}