@font-face {
  font-family: 'Helvin';
  src: url('./fonts/HighlandGothicFLF.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvin';
  src: url('./fonts/HighlandGothicLightFLF.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Helvin';
  src: url('./fonts/HighlandGothicFLF-Bold.ttf') format('truetype');
  font-weight: bold;
}